/* body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;

} */

body{
  background: rgb(248, 232, 217);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 70px auto 20px auto;
}

.text-right {
  text-align: right;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(253, 57, 8);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(253, 57, 8);
}

.btn i {
  margin-right: 5px;
}

.panel {
  background-color: white;
  border: 1px solid rgb(253, 57, 8);
  border: rgb(253, 57, 8);
  border-radius: 5px;
  overflow: hidden;
}

.panel-heading {
  
  background-color: rgb(253, 57, 8);
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.panel-body {
  padding: 15px;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-striped tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-striped tr:nth-child(even) {
  background-color: white;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}

.table th {
  background-color: rgb(253, 57, 8);
  color: white;
}